.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.env
/input
/output
/temp
/logs
/cache
/data
/models

/tests/test_data
/tests/test_output
/tests/test_temp
/tests/test_logs
/tests/test_cache

autolrc.egg-info
.coverage
